@color_answer_default: #666666;
@color_answer_hover: #333333;
@color_answer_correct: #4CAF50;
@color_answer_wrong: #F44336;

@color_menu: #263238;

@color_tile: rgba(0, 0, 0, 0.05);
@color_tile_hover: rgba(0, 0, 0, 0.1);
@color_tile_selected: rgba(0, 0, 0, 0.2);

@color_button_next: #4444FF;

@site_width: 1000px;
@site_width_mobile: 767px;

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Page ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

html, body {
    margin: 0;
    font-family: "Trebuchet MS";
    background-image: url("img/crossword.png");
}

div {
    box-sizing: border-box;
}

.clearboth {
    clear: both;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Menu ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#menu {
    background-color: @color_menu;
}

#menu .navbar {
    max-width: @site_width;
    margin: 0 auto;
}

#menu .navbar a {
    color: #FFFFFF;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Content ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#content {
    margin: 0 auto;
    max-width: @site_width;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Homepage ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.homepage {
    padding: 20px 0;
}

.homepage .subject {
    height: 50px;
    width: 100%;
    padding: 0 15px;
    cursor: pointer;
    background-color: @color_tile;
}

.homepage .subject:hover {
    background-color: @color_tile_hover;
}

.homepage .subject__title {
    float: left;
    height: 100%;
    line-height: 50px;
}
.homepage .subject__info {
    float: right;
    height: 100%;
    line-height: 50px;
    width: 120px;
    text-align: right;
    padding: 0 5px;
}

@media (max-width: @site_width_mobile) {
    .homepage {
        padding: 0;
    }
    .homepage .subject {
        height: 70px;
        padding: 5px 15px;
    }
    .homepage .subject__title {
        width: 100%;
        height: 30px;
        padding-top: 10px;
        line-height: normal;
    }
    .homepage .subject__info {
        height: 30px;
        padding-top: 5px;
        line-height: normal;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Subject ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.subject {
    padding: 20px 0;
}

.subject .set {
    height: 40px;
    width: 100%;
    padding: 0 20px;
    cursor: pointer;
    background-color: @color_tile;
    font-size: 14px;
}

.subject .set:hover {
    background-color: @color_tile_hover;
}

.subject .set.selected {
    background-color: @color_tile_selected;
}

.subject .set__title {
    float: left;
    height: 100%;
    line-height: 40px;
    font-weight: 600;
}
.subject .set__info {
    float: right;
    height: 100%;
    line-height: 40px;
}
.subject .set__info span {
    padding: 0 10px;
}

.subject .startbtn {
    text-align: center;
    line-height: 40px;
    background-color: @color_button_next;
    cursor: pointer;
    color: white;
}

@media (max-width: @site_width_mobile) {
    .subject {
        padding: 0;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Quiz ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.quiz .notice {
    width: 100%;
    text-align: center;
    font-size: 32px;
    margin-top: 100px;
}

.quiz .status {
    float: left;
    width: calc(~"100% - 30px");
    margin: 40px 15px 0 15px;
    font-size: 28px;
}

.quiz .status .sprogress {
    float: left;
}

.quiz .status .sratio {
    float: right;
}

.quiz .status .sratio .correct {
    color: @color_answer_correct;
}
.quiz .status .sratio .wrong {
    color: @color_answer_wrong;
}

.quiz .question {
    width: 100%;
    float: left;
    margin-top: 50px;
}

.quiz .question pre {
    text-align: left;
}

.quiz .question__title {
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
}

.quiz .question__answers {
    text-align: center;
    margin: 50px;
}

.quiz .question__answer {
    background-color: @color_answer_default;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: all .1s ease-out;
}
.quiz .question__answer:not(.correct):not(.wrong):hover {
    background-color: @color_answer_hover;
}
.quiz .question__answer.correct {
    background-color: @color_answer_correct;
}
.quiz .question__answer.wrong {
    background-color: @color_answer_wrong;
}

.quiz .question__next {
    background-color: @color_button_next;
    width: calc(~"100% - 120px");
    margin: 0 60px;
    height: 40px;
    line-height: 40px;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in-out;
    color: white;
    text-align: center;
    cursor: pointer;
}
.quiz .question__next.active {
    visibility: visible;
    opacity: 1;
}

@media (max-width: @site_width_mobile) {
    .quiz .status {
        font-size: 20px;
    }

    .quiz .question__title {
        padding: 10px;
        margin-bottom: 20px;
    }

    .quiz .question__answers {
        margin: 10px;
    }

    .quiz .question__next {
        margin: 20px;
        width: calc(~"100% - 40px");
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.footer {
    position: fixed;
    bottom: 0;
    /*margin-top: 50px;*/
    width: 100%;
    text-align: center;
    font-size: 11px;
}
